@font-face {
    font-family: "Figtree";
    src: url(font/Figtree/Figtree-VariableFont_wght.ttf);
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #06171E;
    font-family: "Figtree";
   
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 83px;
    background-color: #09212A;
}
nav{
    width: 1440px;;
    margin-left: 25px;
    
}

main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

h1{
    font-size: 56px;
    font-weight: 800;
    padding-bottom: 80px;
    margin: 0 0;
}

section{
    max-width: 1200px;
    height: 575px;
    text-align: center;
}

#gallery{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;     
    justify-content: center;
    align-items: center;

    img {
        height: 150px;
        width: 150px;
        padding: 25px 5px;
    }
}

footer{
    background-image: url(./img/Subtract.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: auto;
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 16px;
}

.d-none {
    display: none !important;
}

/* Overlay section */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(9, 33, 42, 0.0);
    z-index: 999;
    display: flex;
    justify-content: center; 
    color: white;
    align-items: center;     
}

/* Overlay window */
.overlay-content {
    width: 675px;            
    height: 675px;           
    background-color: #09212A; 
    border-radius: 40px;     
    padding: 20px 30px;     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Overlay Image*/
#overlay-img {
    max-height: 500px;
    max-width: 100%;
    object-fit: contain;
}

.close-btn {
    align-self: flex-end;
    font-size: 24px;
    cursor: pointer;
}

.overlay-controls {
    display: flex;
    align-items: center;
    gap: 30px;
}

.round-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1f1e23;
    background-size: cover;
    background-position: center;    
    display: flex;
    justify-content: center;
    align-items: center;      
    border: none;
    cursor: pointer; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: transform 0.2s;
}

.round-btn:hover {
    transform: scale(1.1);
    background-color: #372528;
}
