@font-face {
    font-family: "Figtree";
    src: url(font/Figtree/Figtree-VariableFont_wght.ttf);
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #06171E;
    font-family: "Figtree";
   
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 83px;
    background-color: #09212A;
}
nav{
    width: 1440px;;
    margin-left: 25px;
    
}

main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

h1{
    font-size: 56px;
    font-weight: 800;
    padding-bottom: 80px;
    margin: 0 0;
}

section{
    max-width: 1200px;
    height: 575px;
    text-align: center;
}

#gallery{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;     
    justify-content: center;
    align-items: center;

    img {
        height: 150px;
        width: 150px;
        padding: 25px 5px;
    }
}

footer{
    background-image: url(./img/Subtract.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: auto;
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 16px;
}

.d-none {
    display: none !important;
}

#overlay {
    
    position: fixed; /* Klebt am Bildschirm fest, scrollt nicht mit */
    width: 675px;
    height: 675px; 
    background-color: #09212A;
    border-radius: 40px;
    z-index: 999; /* Zwingt den Kasten über alle anderen Elemente */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Der Inhalt in der Mitte */
.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
}

/* Das große Bild */
#overlay-img {
    max-height: auto; /* Darf maximal 70% der Bildschirmhöhe einnehmen */
    max-width: 560px;
    object-fit: contain;
}

.close-btn {
    align-self: flex-end; /* Schiebt das X nach rechts oben */
    font-size: 24px;
    cursor: pointer;
}

.overlay-controls {
    display: flex;
    align-items: center;
    gap: 30px;
}

.prev_img{
    background-image: url(img/Rectangle\ 1.svg);
    
}